body
{
    color: cornflowerblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#contenedor
{
    background: rgb(173, 173, 189);
    color: rgb(143, 108, 38);
    font-weight: bold;
    margin: 0pc;
    padding: 0.5em;
    text-align: left;
}

#post1
{
    background: rgb(207, 207, 219);
    color: rgb(21, 187, 165);
    font-weight: bold;
    margin: auto;
    padding: 0.5mm;

}

#cabecera
{
    background: darkblue;
    color: floralwhite;
    font-weight: bold;
    margin: auto;
    padding: 0.5mm;

}